.labels {
  font-size: calc(16px + 0.4vw);
  list-style: none;
  margin: 1rem auto 0 auto;

  &__item {
    display: flex;
    margin: 5px 0;

  }

  &__color {
    min-width: 30px;
    height: 30px;
    border: 2px solid #000;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__button {
      min-width: 14rem;
      max-width: 18rem;
      margin: 1rem auto;
      padding: 0;

  }
  &__title {

  }
}
