.charts {


  &__title {
    text-align: center;
  }

  &__dates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  &__date {
    min-width: 14rem;
  }

}

.card {
  max-width: 70%;
  background-color: inherit;
}
