.charts {


  &__title {
    text-align: center;
  }

  &__dates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  &__date {
    min-width: 14rem;
  }
}

