.timetrack {
  color: #761c49;

  &__title {
    margin: 2rem 2rem 0;
    text-align: center;
  }

  &__date {
    text-align: center;
    margin: 0 auto;
  }

  &__get {
    margin: 0 auto;
    display: block;
  }

  &__works {
    //background-color: lightgoldenrodyellow;
    max-width: 70vw;
    margin: 2rem auto;
  }

  &__work {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    //border: 1px solid #2a323d;
    //font-size: calc(16px + 1vmin);
    //background-color: #2a323d;
    //
    //padding: 5px 0;
    //border-radius: 4px;
    //color: rgba(255, 255, 255, 0.87);
  }
}

.p-inputtext {
  font-size: calc(16px + 1vmin);
}

.item {


  &__datetime {
    //max-width: 25%;
    border: 1px solid #2a323d;
    font-size: calc(14px + 1vmin);
    background-color: #2a323d;
    padding: 5px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.87);
    margin-right: 20px;
  }

  &__date {

  }
  &__time {

  }
  &__workwrap {
    border: 1px solid #2a323d;
    font-size: calc(14px + 1vmin);
    //background-color: #2a323d;
    padding: 5px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.87);
    min-width: 70%;
  }

  &__work {
    display: block;

  }

}
