.timetrack {
  color: #761c49;
}

.timetrack__title {
  margin: 2rem 2rem 0;
  text-align: center;
}

.timetrack__date {
  text-align: center;
  margin: 0 auto;
}

.timetrack__get {
  margin: 0 auto;
  display: block;
}

.p-inputtext {
  font-size: calc(16px + 1vmin);
}
