.select {
  display: inline-block;
  min-width: 50%;
  position: relative;

  &__current {
    padding: 3px 20px;
    border: 3px solid #2a323d;
    border-radius: 4px;
    font-size: calc(14px + 1vmin);
  }

  &__current::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 19px;
    border: 12px solid transparent;
    border-top-color: #2a323d;
  }

  &__current.active::after {
    top: 8px;
    border-color: transparent transparent #2a323d transparent;
  }

  &__current.active {
    color: #2a323d;
  }

  &__options {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    min-width: 100%;
    list-style-type: none;
    padding: 6px 20px;
    cursor: pointer;
  }

  &__item:hover {
    background-color: #000000 !important;
    color: #ffffff;
  }

}

