.works {
  max-width: 60vw;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 1vmin;
  }

  &__list {
    //max-width: 80vw;
  }

  &__item {
    display: flex;
    font-size: calc(16px + 0.5vmin);
    border: 1px solid #b2b2b2;
    padding: 5px 0;
    border-radius: 4px;
    background-color: #2a323d;
    transition: all 500ms linear;
    list-style: none;
    color: darkgray;
    margin-bottom: 0.5rem;
  }

  &__info {
    width: 78vw;
    /* padding: 0 1vmin; */
    margin: 0 1vmin;
    display: flex;
  }

  &__bgColor {
    width: 25%;
    //padding: 0 1vmin;
    margin: 0 1vmin;
    height: 40px;
    border-radius: 4px;
    border: 2px solid darkgrey;
  }

  &__work {
    width: 45%;
    //padding: 0 1vmin;
    margin: 0 1vmin;
  }

  &__change {
    width: 3vmin;
    height: 3vmin;
    padding: 0 0.6vmin;
    margin: 0 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1032d0;
    color: #ffffff;
    border-radius: 5px;
  }

  &__controls {
    width: 10rem;
    /* padding: 0 1vmin; */
    margin: 0 1vmin;
    display: flex;
    justify-content: space-around;
  }


}

.p-button.p-button-lg {
  font-size: calc(16px + 0.6vw);
  padding: 0.3rem 0.5rem;
}

@media only screen and (max-width: 991px) {
  .works {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
    .works {

      &__item {
        display: block;
      }

      &__controls {
        width: unset;
        justify-content: flex-end;
      }

      &__del {
        margin-left: 1rem;
      }
    }
  }

@media only screen and (max-width: 521px) {
  .works {
    max-width: 100%;
  }
}

